#fancybox-left-ico { 
	 left: 20px; 
	} 
	
	#fancybox-right-ico { 
	 right: 20px; 
	 left: auto; 
	} 
	
/*
     FILE ARCHIVED ON 15:58:03 Feb 05, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:07:56 Jan 07, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 545.813
  exclusion.robots: 276.177
  exclusion.robots.policy: 276.166
  xauthn.identify: 174.6
  xauthn.chkprivs: 101.378
  RedisCDXSource: 4.883
  esindex: 0.01
  LoadShardBlock: 244.061 (3)
  PetaboxLoader3.datanode: 166.678 (4)
  CDXLines.iter: 18.028 (3)
  PetaboxLoader3.resolve: 127.091 (3)
  load_resource: 110.105
*/